@font-face {
  font-family: "Gilroy";
  font-weight: 800;
  font-style: normal;
  src: url("../fonts/Gilroy-ExtraBold.woff2") format("woff2"),
    url("../fonts/Gilroy-ExtraBold.woff") format("woff");
}

@font-face {
  font-family: "Gilroy";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/Gilroy-Light.woff2") format("woff2"),
    url("../fonts/Gilroy-Light.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: 300;
  font-style: normal;
  src: url("../fonts/OpenSans-Light.woff2") format("woff2"),
    url("../fonts/OpenSans-Light.woff") format("woff");
}

@font-face {
  font-family: "Open Sans";
  font-weight: normal;
  font-style: normal;
  src: url("../fonts/OpenSans.woff2") format("woff2"),
    url("../fonts/OpenSans.woff") format("woff");
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.content-box-component {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  overflow: hidden;

  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
}

body {
  margin: 0;
  padding: 0;

  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 15px;
  font-weight: 300;
  line-height: 30px;

  color: #464646;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

/* класс для ситуаций, когда нужно запретить перенос на следующую строку*/
.no-wrap {
  white-space: nowrap;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-right: 20px;
  padding-left: 20px;
}

.button {
  position: relative;
  z-index: 0;

  display: inline-block;
  padding-top: 8px;
  padding-right: 20px;
  padding-bottom: 8px;
  padding-left: 20px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  vertical-align: middle;
  text-align: center;
  color: #000000;

  letter-spacing: 0.2em;
  text-transform: uppercase;

  border: 0;
  background-color: transparent;
}

.button::before {
  content: "";

  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;

  width: 100%;
  height: 8px;

  -webkit-transition: all 0.5s;

  -o-transition: all 0.5s;

  transition: all 0.5s;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);

  background-color: #f0c52e;
}

.button:hover::before,
.button:focus::before {
  height: 100%;
}

.button:active {
  color: rgba(0, 0, 0, 0.3);
}

.page-header {
  position: relative;

  margin-top: 40px;
  padding-bottom: 45px;

  background-color: #f7e296;
}

.page-header__logo {
  position: absolute;
  top: -18px;
  left: 60px;
}

.page-header__logo:hover,
.page-header__logo:focus {
  opacity: 0.6;
  outline: none;
}

.main-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 33px;
  padding-right: 60px;
  padding-left: 60px;
}

.main-navigation__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 29px;

  -webkit-box-pack: justify;

      -ms-flex-pack: justify;

          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

/*search field*/
.main-navigation__search {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  width: 440px;
  height: 49px;
  margin-right: auto;
}

.main-navigation__search::before {
  content: "";

  position: absolute;
  top: 18px;
  left: 3px;

  width: 16px;
  height: 16px;

  background-image: url(../img/search.svg);
}

.site-search__field {
  width: 355px;
  padding-left: 40px;

  font-size: 15px;
  font-style: inherit;
  line-height: 30px;

  letter-spacing: 0.01em;
  background-color: #f7e296;
  border: 0;
  outline: none;
}

.site-search__field:focus {
  -webkit-box-shadow: inset 0 -2px 0 0 #000000;
          box-shadow: inset 0 -2px 0 0 #000000;
}

.site-search__field:hover::-webkit-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.site-search__field:hover:-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.site-search__field:hover::-ms-input-placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.site-search__field:hover::placeholder {
  color: rgba(0, 0, 0, 0.6);
}

.site-search__field:focus::-webkit-input-placeholder {
  color: #000000;
}

.site-search__field:focus:-ms-input-placeholder {
  color: #000000;
}

.site-search__field:focus::-ms-input-placeholder {
  color: #000000;
}

.site-search__field:focus::placeholder {
  color: #000000;
}

.site-search__button {
  width: 85px;

  font-size: 15px;
  line-height: 30px;

  letter-spacing: 0.01em;
  opacity: 0;
  background-color: #f7e296;
  border: 2px solid #000000;
}

.site-search__field:focus~.site-search__button,
.site-search__button:focus {
  opacity: 1;
}

.site-search__button:hover,
.site-search__button:focus {
  color: #ffffff;

  background-color: #000000;
  outline: none;
}

.site-search__button:active {
  color: rgba(255, 255, 255, 0.3);

  background-color: #000000;
  opacity: 1;
}

/*user navigation*/
.main-navigation__user {
  width: 260px;
}

.user-navigation {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.user-navigation__link {
  position: relative;

  padding-left: 25px;

  font-size: 15px;
  line-height: 30px;
  color: #000000;

  letter-spacing: 0.01em;

}

.user-navigation__link::before {
  content: "";

  position: absolute;
  top: 25%;
  left: 0;

  width: 13px;
  height: 13px;
}

.user-navigation__link--logout {
  padding-left: 20px;

  opacity: 0.3;
}

.user-navigation__link--login::before,
.user-navigation__link--profile::before {
  background-image: url(../img/user.svg);
  background-repeat: no-repeat;
}

.user-navigation__link:hover,
.user-navigation__link:focus {
  opacity: 0.6;
  outline: none;
}

.user-navigation__link:active {
  opacity: 0.3;
}

/*shopping navigation*/
.main-navigation__shopping {
  width: 240px;
}

.shopping-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.shopping-navigation__link {
  position: relative;

  padding-left: 48px;

  font-size: 15px;
  line-height: 30px;
  color: #000000;

  letter-spacing: 0.01em;
}

.shopping-navigation__link::before {
  content: "";

  position: absolute;
  top: 25%;
  left: 25%;

  width: 13px;
  height: 13px;
}

.shopping-navigation__link:hover,
.shopping-navigation__link:focus {
  opacity: 0.6;
  outline: none;
}

.shopping-navigation__link:active {
  opacity: 0.3;
}

.shopping-navigation__link--compare::before {
  background-image: url(../img/compare.svg);
  background-repeat: no-repeat;
}

.shopping-navigation__link--cart::before {
  background-image: url(../img/cart.svg);
  background-repeat: no-repeat;
}

/*site navigation*/
.site-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.site-navigation__item--catalog {
  margin-right: auto;
}

.site-navigation__link {
  position: relative;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: #000000;

  letter-spacing: 0.2em;
  text-transform: uppercase;

}

.site-navigation__link:hover,
.site-navigation__link:focus {
  opacity: 0.6;
  outline: none;
}

.site-navigation__link:active {
  opacity: 0.3;
}

.site-navigation__link--catalog::after {
  content: "";

  position: absolute;
  top: 1px;
  right: -27px;

  width: 16px;
  height: 16px;

  background-image: url(../img/plus.svg);
  background-repeat: no-repeat;
}

.site-navigation__item:nth-child(2) {
  margin-right: 35px;
}

.site-navigation__item:nth-child(4) {
  margin-right: -5px;
  margin-left: 108px;
}

/*отступы при переполнении*/
.site-navigation__item:nth-child(n+5) {
  margin-left: 10px;
}

.site-navigation__item {
  position: relative;
}

.catalog-navigation {
  position: absolute;
  z-index: 1;

  display: none;
  width: 640px;
  margin: 0;
  padding: 0;
  padding-top: 15px;
  padding-bottom: 36px;

  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.site-navigation__item:hover .catalog-navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -ms-flex-wrap: wrap;

      flex-wrap: wrap;
}

.catalog-navigation::after {
  content: "";

  position: absolute;
  z-index: -1;
  top: 0;
  left: -60px;

  width: 1160px;
  height: 100%;

  background-color: #f7e296;
}

.catalog-navigation__item {
  width: 200px;
}

.catalog-navigation__item:nth-child(3n+1) {
  margin-right: 40px;
}

.catalog-navigation__item:last-child {
  width: 210px;
}

.catalog-navigation__link {
  font-size: 15px;
  line-height: 36px;
  color: #000000;

  letter-spacing: 0.01em;
}

.catalog-navigation__link:hover,
.catalog-navigation__link:focus {
  opacity: 0.6;
  outline: none;
}

.catalog-navigation__link:active {
  opacity: 0.3;
}

/*popular items slider*/
.features {
  margin-bottom: 106px;
}

.features__wrapper {
  position: relative;

  background-color: #ffffff;
  background-image: -webkit-linear-gradient(#f7e296 111px, #ffffff 111px);
  background-image: -o-linear-gradient(#f7e296 111px, #ffffff 111px);
  background-image: linear-gradient(#f7e296 111px, #ffffff 111px);
}

.features-slider,
.features__toggles {
  margin: 0;
  padding: 0;

  list-style: none;
}

.promo-slider {
  position: relative;

  min-height: 486px;

  list-style: none;

  counter-reset: my-counter;
}

.promo-slider__item {
  position: absolute;
  top: 0;
  z-index: -1;

  display: none;

  opacity: 0;
}

.promo-slider__item::before {
  content: "";

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 179px;
  font-weight: 800;
  line-height: 179px;
  color: #ffffff;

  letter-spacing: 0.01em;
}

.promo-slider__item:nth-child(1)::before {
  content: "01";

  position: absolute;
  top: -16px;
  right: 43px;
}

.promo-slider__item:nth-child(2)::before {
  content: "02";

  position: absolute;
  top: -16px;
  right: 43px;
}

.promo-slider__item:nth-child(3)::before {
  content: "03";

  position: absolute;
  top: -16px;
  right: 43px;
}

.promo-slider__item--current {
  position: relative;
  z-index: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;

  opacity: 1;
}

.promo-slider__image-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 560px;

  -webkit-box-pack: center;

      -ms-flex-pack: center;

          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.promo-slider__image {
  max-width: 555px;
  max-height: 486px;
}

.promo-slider__description-wrapper {
  position: relative;

  width: 560px;
  margin-left: 40px;
  padding-top: 80px;
}

.promo-slider__description-wrapper::before {
  content: "";

  position: absolute;
  top: 37px;
  left: 0;

  width: 100px;
  height: 7px;

  background-color: #ffffff;
}

.promo-slider__title {
  margin: 0;
  margin-bottom: 19px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 56px;
  color: #000000;

  letter-spacing: 0.01em;
}

.promo-slider__description {
  margin-right: 80px;
  margin-bottom: 44px;
}

.promo-slider__link {
  width: 220px;
  margin-bottom: 50px;

  outline: none;
}

.promo-slider__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.spec-list__name,
.spec-list__value {
  margin: 0;
  padding: 0;
}

.spec-list__name {
  padding-top: 6px;
}

.spec-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.spec-list__name {
  font-size: 13px;
  line-height: 20px;

  letter-spacing: 0.01em;
}

.spec-list__value {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 36px;
  font-weight: 300;
  line-height: 48px;
  color: #000000;

  letter-spacing: 0.01em;
}

.spec-list__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  width: 160px;
}

.spec-list__wrapper:nth-child(even) {
  width: 140px;
}

/*slider toggle*/
.features__toggles {
  margin: 0;
  padding: 0;
}

.slider-toggles {
  position: absolute;
  z-index: 1;
  bottom: 138px;
  right: 82px;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  width: 80px;

  -webkit-box-pack: justify;

      -ms-flex-pack: justify;

          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.slider-toggles__button {
  position: relative;

  display: inline-block;
  width: 12px;
  height: 12px;
  padding: 0;

  vertical-align: middle;

  background-color: #ffffff;
  border: 1px solid #050505;
  border-radius: 50%;
  outline: none;
}

.slider-toggles__button:focus::after,
.slider-toggles__button:active::after,
.slider-toggles__button--current::after {
  content: "";

  position: absolute;
  z-index: 2;
  top: 2px;
  left: 2px;

  width: 6px;
  height: 6px;

  background-color: #ffffff;
  border: 1px solid #050505;
  border-radius: 50%;
}

/*popular categories*/
.popular-categories {
  margin-bottom: 70px;
}

.popular-categories__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.popular-categories__item {
  width: 160px;
  margin-right: 40px;
  margin-bottom: 10px;
}

.popular-categories__item:nth-child(6n) {
  margin-right: 0;
}

.popular-categories__link {
  position: relative;

  display: block;
  padding-top: 194px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: #000000;

  letter-spacing: 0.01em;
  text-decoration: none;
  outline: none;
}

.popular-categories__link::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 160px;
  height: 160px;

  background-color: #f0c52e;
  opacity: 0.5;
}

.popular-categories__link::after {
  content: "";

  position: absolute;

  width: 160px;
  height: 160px;
}

.popular-categories__link--vr::after {
  top: 52px;
  left: 31px;

  background-image: url(../img/popular-1.svg);
  background-repeat: no-repeat;
}

.popular-categories__link--monopods::after {
  top: 42px;
  left: 38px;

  background-image: url(../img/popular-2.svg);
  background-repeat: no-repeat;
}

.popular-categories__link--cameras::after {
  top: 39px;
  left: 49px;

  background-image: url(../img/popular-3.svg);
  background-repeat: no-repeat;
}

.popular-categories__link--band::after {
  top: 51px;
  left: 29px;

  background-image: url(../img/popular-4.svg);
  background-repeat: no-repeat;
}

.popular-categories__link--clock::after {
  top: 33px;
  left: 54px;

  background-image: url(../img/popular-5.svg);
  background-repeat: no-repeat;
}

.popular-categories__link--quadcopters::after {
  top: 50px;
  left: 15px;

  background-image: url(../img/popular-6.svg);
  background-repeat: no-repeat;
}

.popular-categories__link:hover::before,
.popular-categories__link:focus::before {
  opacity: 1;
}

.popular-categories__link:active::before {
  opacity: 1;
}

.popular-categories__link:active {
  color: rgba(0, 0, 0, 0.3);
}

.popular-categories__link:active::after {
  opacity: 0.3;
}

/*services*/
.services {
  min-width: 1200px;
  margin-bottom: 93px;
  padding-bottom: 36px;

  background-color: #e5e5e5;
  background-image: -webkit-linear-gradient(#ffffff 100px, #e5e5e5 100px);
  background-image: -o-linear-gradient(#ffffff 100px, #e5e5e5 100px);
  background-image: linear-gradient(#ffffff 100px, #e5e5e5 100px);
}

.services__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 33px;
}

.services__toggles {
  position: relative;

  width: 284px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-tab {
  padding-bottom: 47px;

  border-right: 7px solid #000000;
}

.services__description {
  margin: 0;
  padding: 0;

  list-style: none;
}

.services-tab {
  padding-top: 80px;
}

.services-tab__item {
  margin-bottom: 24px;
}

.services-tab__link {
  width: 160px;
  outline: none;
}

.services-tab__link--current {
  width: 100%;

  text-align: left;
  color: #f7e184;

  background-color: #000000;
}

.services-tab__link--current::before {
  content: "";

  position: absolute;
  z-index: -1;
  top: 50%;
  left: 0;

  width: 100%;
  height: 8px;

  -webkit-transition: none;

  -o-transition: none;

  transition: none;
  background-color: #000000;
}

.services-tab__link--current:active {
  width: 100%;

  text-align: left;
  color: #f7e184;

  background-color: #000000;
}

.services-list {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 876px;
  padding-left: 116px;
}

.services-list__item {
  position: absolute;
  z-index: -1;
  top: 0;

  display: none;
  width: 760px;
  padding-top: 74px;

  opacity: 0;
}

.services-list__item--current {
  position: relative;
  z-index: 1;

  display: block;

  opacity: 1;
}

.services-list__title {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  color: #000000;

  letter-spacing: 0.01em;
}

.services-list__summary {
  padding-right: 310px;
}

.services-list__item--delivery {
  background-image: url(../img/delivery.svg);
  background-repeat: no-repeat;
  background-position: top 84px right 65px;
}

.services-list__item--warranty {
  background-image: url(../img/warranty.svg);
  background-repeat: no-repeat;
  background-position: 89% 57%;
  ;
}

.services-list__item--credit {
  background-image: url(../img/credit.svg);
  background-repeat: no-repeat;
  background-position: 89% 57%;
}

/*brands*/
.brands {
  margin-bottom: 85px;
}

.brands__logo {
  opacity: 0;
}

.brands__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.brands__link {
  display: block;
  width: 260px;

  text-decoration: none;
}

.brands__link--dji {
  background-image: url(../img/dji-logo-black.jpg);
  background-repeat: no-repeat;
}

.brands__link--sp {
  background-image: url(../img/sp-gadgets-logo-black.jpg);
  background-repeat: no-repeat;
}

.brands__link--gopro {
  background-image: url(../img/gopro-logo-black.jpg);
  background-repeat: no-repeat;
}

.brands__link--vive {
  background-image: url(../img/vive-logo-black.jpg);
  background-repeat: no-repeat;
}

.brands__link:hover,
.brands__link:focus {
  outline: none;
}

.brands__link--dji:hover,
.brands__link--dji:focus {
  background-image: url(../img/dji-logo.jpg);
  background-repeat: no-repeat;
}

.brands__link--sp:hover,
.brands__link--sp:focus {
  background-image: url(../img/sp-gadgets-logo.jpg);
  background-repeat: no-repeat;
}

.brands__link--gopro:hover,
.brands__link--gopro:focus {
  background-image: url(../img/gopro-logo.jpg);
  background-repeat: no-repeat;
}

.brands__link--vive:hover,
.brands__link--vive:focus {
  background-image: url(../img/vive-logo.jpg);
  background-repeat: no-repeat;
}

/*about us and contacts*/
.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about-us {
  position: relative;

  width: 480px;
  margin-right: 120px;
  margin-bottom: 81px;
  padding-top: 52px;
  padding-right: 8px;
}

.contacts {
  position: relative;

  width: 560px;
  margin-bottom: 81px;
  padding-top: 52px;
}

.about-us::before,
.contacts::before {
  content: "";

  position: absolute;
  top: 0;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: #000000;
}

.about-us__title,
.contacts__title {
  margin-top: 0;
  margin-right: 0;
  margin-bottom: 43px;
  margin-left: -2px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  font-weight: 800;
  line-height: 48px;
  color: #000000;

  letter-spacing: 0.01em;
}

.about-us__summary,
.contacts__summary {
  margin: 0;
  margin-bottom: 30px;

  font-size: 15px;
  font-weight: 300;
  line-height: 30px;

  letter-spacing: 0;
}

.about-us__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.company-list {
  margin-top: 66px;
  margin-bottom: 54px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 40px;

  letter-spacing: 0;
}

.company-list__item {
  position: relative;
  padding-left: 35px;
}

.company-list__item::before {
  content: "";

  position: absolute;
  top: 16px;
  left: 0;

  width: 8px;
  height: 8px;

  border: 2px solid #e5e5e5;
  border-radius: 50%;
}

.contacts__map-link {
  display: block;
  margin-top: 38px;
  margin-bottom: 61px;

  outline: none;
}

.contacts__map-link:focus .contacts__map-image {
  opacity: 0.5;
}

.contacts__map-image {
  max-width: 560px;
}

.about-us__button,
.contacts__button {
  width: 260px;
  outline: none;
}

/* footer */
.page-footer {
  min-width: 1200px;
  padding-top: 64px;
  padding-bottom: 66px;

  color: #ffffff;

  background-color: #464646;
}

.page-footer__row {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  margin-bottom: 21px;
}

.page-footer__row:last-child {
  margin-top: 62px;
}

.page-footer__row:last-child::before {
  content: "";

  position: absolute;
  top: 13px;
  left: 0;

  width: 80px;
  height: 7px;

  background-color: #ffc600;
}

.page-footer__logo {
  width: 180px;
  margin-top: 3px;
  margin-left: -1px;
}

.page-footer__logo:focus {
  opacity: 0.6;
  outline: none;
}

.page-footer__image {
  fill: #ffc600;
}

.page-footer__image:hover,
.page-footer__image:focus {
  opacity: 0.6;
  outline: none;
}

.page-footer__image:active {
  opacity: 0.3;
}

.page-footer__user,
.page-footer__shopping {
  margin: 0;
  padding: 0;

  list-style: none;
}

.page-footer__user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 25px;
  margin-left: auto;

  font-size: 15px;
}

.page-footer__shopping {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 18px;

  font-size: 15px;

  -ms-flex-wrap: wrap;

      flex-wrap: wrap;
}

.page-footer__user .user-navigation__link {
  color: rgba(255, 255, 255, 0.7);
}

.page-footer__shopping .shopping-navigation__link {
  padding-left: 20px;
  color: rgba(255, 255, 255, 0.7);
}

.page-footer__user .user-navigation__link:hover,
.page-footer__shopping .shopping-navigation__link:hover,
.page-footer__user .user-navigation__link:focus,
.page-footer__shopping .shopping-navigation__link:focus {
  color: rgba(255, 255, 255, 1);
  outline: none;
}

.page-footer__user .user-navigation__link:active,
.page-footer__shopping .shopping-navigation__link:active {
  color: rgba(255, 255, 255, 0.3);
}

.page-footer__shopping .shopping-navigation__item:not(:last-child) {
  margin-right: 43px;
}

.user-navigation__link--yellow-login::before {
  content: "";

  position: absolute;
  top: 4px;
  left: 1px;

  background-image: url(../img/user-yellow.svg);
  background-repeat: no-repeat;
}

.user-navigation__link--yellow-profile::before {
  content: "";

  position: absolute;
  top: 4px;
  left: -2px;

  background-image: url(../img/user-yellow.svg);
  background-repeat: no-repeat;
}

.shopping-navigation__link--yellow-compare::before {
  content: "";

  position: absolute;
  top: 6px;
  left: 1px;

  background-image: url(../img/compare-yellow.svg);
  background-repeat: no-repeat;
}

.shopping-navigation__link--yellow-cart::before {
  content: "";

  position: absolute;
  top: 4px;
  left: -2px;

  background-image: url(../img/cart-yellow.svg);
  background-repeat: no-repeat;
}

.user-navigation__link--yellow-login:hover::before,
.shopping-navigation__link--yellow-compare:hover::before,
.shopping-navigation__link--yellow-cart:hover::before {
  opacity: 0.6;
}

.user-navigation__link--yellow-login:focus::before,
.shopping-navigation__link--yellow-compare:focus::before,
.shopping-navigation__link--yellow-cart:focus::before {
  opacity: 0.6;
}

.user-navigation__link--yellow-login:active::before,
.shopping-navigation__link--yellow-compare:active::before,
.shopping-navigation__link--yellow-cart:active::before {
  opacity: 0.3;
}

.page-footer__address {
  margin: 0;
  padding: 0;

  color: #ffffff;

  letter-spacing: 0;
}

.page-footer__navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 440px;
  margin-top: 6px;
  margin-right: 173px;
  margin-bottom: 0;
  margin-left: auto;

  line-height: 24px;
  color: #ffffff;

  -webkit-box-align: baseline;

      -ms-flex-align: baseline;

          align-items: baseline;
}

.page-footer__navigation .site-navigation__item:not(:last-child) {
  margin-right: 33px;
}

.page-footer__navigation .site-navigation__link {
  color: #ffffff;
}

.page-footer__phone {
  width: 180px;
  margin: 0;
  padding: 0;

  text-align: right;
  color: #ffffff;

  letter-spacing: 0;
}

.page-footer__social {
  margin: 0;
  padding: 0;

  list-style: none;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 240px;
  margin-right: 433px;
  margin-left: auto;
  padding-right: 40px;
  padding-left: 40px;

  -ms-flex-pack: distribute;

      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social__link {
  position: relative;

  display: block;
  width: 32px;
  height: 32px;

  opacity: 0.3;
  outline: none;
}

.social__link--facebook::after {
  content: "";

  position: absolute;

  width: 32px;
  height: 32px;

  background-image: url(../img/facebook.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.social__link--instagram::after {
  content: "";

  position: absolute;

  width: 32px;
  height: 32px;

  background-image: url(../img/instagram.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.social__link--twitter::after {
  content: "";

  position: absolute;
  width: 32px;
  height: 32px;

  background-image: url(../img/twitter.svg);
  background-repeat: no-repeat;
  opacity: 0.3;
}

.social__link:hover::after,
.social__link:focus::after {
  opacity: 0.6;
}

.social__link:active::after {
  opacity: 0.1;
}

.page-footer__copyright {
  margin: 0;
  padding: 0;
}

.copyright__image {
  fill: #ffc600;
}

.page-footer__copyright:hover,
.copyright__link:focus {
  opacity: 0.6;
  outline: none
}

.page-footer__copyright:active {
  opacity: 0.3;
}

/*Modal*/
.modal {
  position: fixed;

  display: none;

  -webkit-box-shadow: 2px 16px 40px -1px rgba(0, 0, 0, 0.2);

          box-shadow: 2px 16px 40px -1px rgba(0, 0, 0, 0.2);
}

.modal-show {
  display: block;
}

.modal-error {
  -webkit-animation: shake 0.6s;
          animation: shake 0.6s;
}

@-webkit-keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

@keyframes shake {
  0%, 100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
  }
}

.modal-map {
  z-index: 2;
  top: 120px;
  left: 50%;

  width: 960px;
  margin-left: -480px;

  background-color: #ffffff;
}

.close-button {
  z-index: 3;

  width: 57px;
  height: 57px;
  padding: 0;

  font-size: 0;

  background-color: transparent;
  border: none;
  opacity: 0.5;
}

.close-button:focus,
.close-button:hover {
  opacity: 1;
  outline: none;
}

.close-button:active {
  opacity: 0.3;
}

.close-button::before {
  content: "";

  display: block;
  width: 55px;
  height: 55px;

  background-image: url(../img/modal-close.svg);
  background-repeat: no-repeat;
  opacity: 0.5;
}

.modal-map__close {
  position: absolute;
  z-index: 3;
  top: 23px;
  right: 23px;
}

.feedback {
  z-index: 2;
  top: 120px;
  left: 50%;

  width: 960px;
  margin-left: -480px;
  padding-top: 100px;
  padding-right: 100px;
  padding-bottom: 80px;
  padding-left: 100px;

  background-color: #ffffff;
}

.feedback__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;

  -webkit-box-pack: justify;

      -ms-flex-pack: justify;

          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.feedback__close {
  position: absolute;
  z-index: 3;
  top: 24px;
  right: 24px;
}

.feedback__label {
  margin-bottom: 7px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: #000000;
}

.feedback__field {
  padding: 20px;

  background-color: rgba(230, 230, 230, 0.5);
  border: 3px solid transparent;
}

.feedback__field:focus {
  border: 3px solid #f7e296;
  outline: none;
}

.feedback__field:hover {
  background-color: rgba(230, 230, 230, 0.8);
}

.feedback__field:invalid {
  background-color: rgba(237, 181, 181, 0.5);
}

.feedback__field--invalid {
  background-color: rgba(237, 181, 181, 0.5);
}

.feedback__field::-webkit-input-placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4);

  letter-spacing: 0;
}

.feedback__field:-ms-input-placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4);

  letter-spacing: 0;
}

.feedback__field::-ms-input-placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4);

  letter-spacing: 0;
}

.feedback__field::placeholder {
  font-family: "Open Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 18px;
  color: rgba(70, 70, 70, 0.4);

  letter-spacing: 0;
}

.feedback__field-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 40px;
}

.feedback__field--input {
  width: 360px;
  height: 50px;
}

.feedback__field--textarea {
  width: 760px;
  height: 157px;
}

.feedback__button {
  width: 200px;
  outline: none;
}

/*Catalog*/
.page-inner__title-wrapper {
  margin-bottom: 44px;
  padding-left: 80px;
}

.page-inner__title {
  margin: 0;
  margin-top: 36px;
  margin-bottom: 21px;
  padding: 0;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 47px;
  line-height: 48px;
  color: #000000;

  letter-spacing: 0.01em;
}

.breadcrumbs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.breadcrumbs__item:not(:last-child) {
  position: relative;

  margin-right: 18px;
}

.breadcrumbs__item:not(:last-child)::after {
  content: "";

  position: absolute;
  top: 13px;
  right: -2px;

  width: 6px;
  height: 10px;

  background-image: url(../img/nav-arrow.svg);
  background-repeat: no-repeat;
}

.breadcrumbs__link {
  padding-right: 20px;

  font-size: 14px;
  line-height: 24px;
  color: #000000;

  text-decoration: none;
  letter-spacing: 0.01em;
  opacity: 0.3;

}

.breadcrumbs__link:hover,
.breadcrumbs__link:focus {
  opacity: 0.6;
  outline: none;
}

.breadcrumbs__link:active {
  opacity: 0.1;
}

/*filters and goods*/
.page-inner__up-line {
  min-width: 1200px;
  background-image: -webkit-gradient(linear, left top, right top, from(#dcdcdc), color-stop(50%, #dcdcdc), color-stop(50%, #ebebeb), to(#ebebeb));
  background-image: -webkit-linear-gradient(left, #dcdcdc 0%, #dcdcdc 50%, #ebebeb 50%, #ebebeb 100%);
  background-image: -o-linear-gradient(left, #dcdcdc 0%, #dcdcdc 50%, #ebebeb 50%, #ebebeb 100%);
  background-image: linear-gradient(to right, #dcdcdc 0%, #dcdcdc 50%, #ebebeb 50%, #ebebeb 100%);
}

.page-inner__down-line {
  min-width: 1200px;
  background-image: -webkit-gradient(linear, left top, right top, from(#efefef), color-stop(50%, #efefef), color-stop(50%, #fff), to(#fff));
  background-image: -webkit-linear-gradient(left, #efefef 0%, #efefef 50%, #fff 50%, #fff 100%);
  background-image: -o-linear-gradient(left, #efefef 0%, #efefef 50%, #fff 50%, #fff 100%);
  background-image: linear-gradient(to right, #efefef 0%, #efefef 50%, #fff 50%, #fff 100%);
}

.page-inner__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-inner__left-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 328px;
  padding-top: 22px;
  padding-bottom: 22px;
  padding-left: 61px;
}

.page-inner__filter-title {
  display: block;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  color: #000000;

  letter-spacing: 0.2em;
  text-transform: uppercase;
  background-color: #dcdcdc;
}

.page-inner__right-column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 831px;
}

/*Sorter*/
.sorter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 831px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 73px;

  background-color: #ebebeb;

  -webkit-box-align: center;

      -ms-flex-align: center;

          align-items: center;
}

.sorter__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.sorter__title {
  margin: 0;
  margin-right: 56px;
  padding: 0;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  color: #000000;

  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.sorter-options {
  width: 450px;
}

.sorter-options__item {
  margin-right: 21px;
}

.sorter-options__link {
  display: block;
  padding-right: 10px;

  font-size: 14px;
  line-height: 18px;
  color: #000000;

  letter-spacing: 0;
  opacity: 0.3;
}

.sorter-options__link:hover:not(.sorter-options__link--active),
.sorter-options__link:focus {
  opacity: 0.6;
  outline: none;
}

.sorter-options__link:active {
  opacity: 1;
}

.sorter-options__link--active {
  opacity: 1;
}

.sorter-directions__link {
  display: block;
  width: 11px;
  height: 21px;

  opacity: 0.2;
}

.sorter-directions__link--up {
  background-image: url(../img/icon-up-dir.svg);
  background-repeat: no-repeat;
  background-position-y: 6px;
}

.sorter-directions__link--down {
  background-image: url(../img/icon-down-dir.svg);
  background-repeat: no-repeat;
  background-position-y: 6px;
}

.sorter-directions__link:hover,
.sorter-directions__link:focus {
  opacity: 0.4;
}

.sorter-directions__link:active {
  opacity: 1;
}

.sorter-directions__link--active {
  opacity: 1;
}

.sorter-directions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  margin-left: auto;
}

.sorter-directions__item:not(:last-child) {
  margin-right: 18px;
}

/*filter*/
.filters {
  width: 201px;
  background-color: #efefef;
}

.filters__form {
  padding-top: 46px;
}

.filters__list {
  margin: 0;
  padding: 0;

  list-style: none;
}

.filters__fieldset {
  position: relative;

  margin: 0;
  margin-bottom: 28px;
  padding: 0;

  border: none;
}

.filters__title {
  position: relative;

  width: 100%;
  margin-bottom: 20px;
  padding-top: 12px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: #000000;

  letter-spacing: 0.01em;
  border-top: 2px solid #000000;
}

.filters__price-control {
  font-size: 0;
}

.filters__price {
  display: inline-block;
  margin-right: 20px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  vertical-align: top;
  color: rgba(0, 0, 0, 0.2);

  cursor: pointer;
}

.filters__input--price {
  width: 50px;
  margin: 0;

  font: inherit;
  color: inherit;

  background: none;
  border: none;
  outline: none;
}

.filters__price:hover,
.filters__input--price:hover,
.filters__price:focus,
.filters__input--price:focus {
  color: rgba(0, 0, 0, 0.7);
}

.filters__range-controls {
  position: relative;
  margin-top: 13px;
  margin-left: -5px;
  margin-bottom: 8px;
}

.filters__scale {
  height: 2px;
  background-color: #dbdbdb;
}

.filters__bar {
  width: 55%;
  height: 2px;
  background-color: #91c92f;
}

.filters__toggle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background-color: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.filters__toggle:active {
  -webkit-transform: scale(1.2);
      -ms-transform: scale(1.2);
          transform: scale(1.2);
}

.filters__toggle--min {
  left: 0;
}

.filters__toggle--max {
  left: 55%;
}

.filters__item {
  padding-left: 38px;
}

.filters__label {
  position: relative;

  display: block;

  font-size: 14px;
  line-height: 40px;

  letter-spacing: 0.01em;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.filters__checkbox+.filters__label--checkbox:before {
  content: "";

  position: absolute;
  top: 8px;
  left: -40px;

  width: 27px;
  height: 23px;

  background-image: url(../img/checkbox-off.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filters__checkbox:checked+.filters__label--checkbox:before {
  content: "";

  position: absolute;
  top: 8px;
  left: -40px;

  width: 27px;
  height: 23px;

  background-image: url(../img/checkbox-on.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filters__radio+.filters__label--radio:before {
  content: "";

  position: absolute;
  top: 4px;
  left: -40px;

  width: 25px;
  height: 25px;

  border: 4px solid #000000;
  border-radius: 50%;
}

.filters__radio:checked+.filters__label--radio::after {
  content: "";

  position: absolute;
  top: 12px;
  left: -32px;

  width: 9px;
  height: 9px;

  border-radius: 50%;
  background-color: #000000;
}

.filters__checkbox+.filters__label--checkbox:hover::before,
.filters__checkbox+.filters__label--checkbox:hover::after,
.filters__radio+.filters__label--radio:hover::before,
.filters__radio+.filters__label--radio:hover::after {
  opacity: 0.6;
}

.filters__input:focus+.filters__label {
  opacity: 0.6;
}

.filters__checkbox:disabled+.filters__label--checkbox,
.filters__radio:disabled+.filters__label--radio {
  color: #a6a6a6;
}

.filters__checkbox:disabled+.filters__label--checkbox::before,
.filters__radio:disabled+.filters__label--radio::before,
.filters__radio:disabled+.filters__label--radio::after {
  opacity: 0.25;
}

.filters__button {
  width: 200px;
  outline: none;
}

/*items list and pagination*/
.page-inner__right-column--catalog {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;

  background-color: #ffffff;
}

.catalog {
  margin-bottom: 20px;
  padding-top: 69px;
  padding-left: 72px;
}

.catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.catalog__item:nth-child(odd) {
  margin-right: 39px;
}

.catalog__item {
  margin-bottom: 45px;
}

.product-card {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  width: 360px;
  margin: 0;
  padding: 0;

  -ms-flex-wrap: wrap;

      flex-wrap: wrap;
}

.product-card__image {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
  max-width: 360px;
  margin-bottom: 32px;
}

.product-card__title {
  width: 260px;
  margin: 0;
  padding: 0;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: #000000;

  text-decoration: none;
  letter-spacing: 0.01em;
}

.product-card__link {
  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 800;
  line-height: 24px;
  color: #000000;

  text-decoration: none;
  letter-spacing: 0.01em;
}

.product-card__price {
  width: 100px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 24px;
  text-align: right;
  color: #000000;

  text-decoration: none;
  letter-spacing: 0.01em;
}

.product-card__hover-wrapper {
  position: absolute;
  top: 0;
  left: 0;

  display: none;
  width: 360px;
  height: 360px;

  background-color: rgba(238, 238, 238, 0.7);
}

.product-card:hover .product-card__hover-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.product-card__basket-link:focus .product-card__hover-wrapper,
.product-card__compare-link:focus .product-card__hover-wrapper {
  z-index: 1;
}

.product-card__basket-link,
.product-card__compare-link {
  display: block;
  width: 200px;
  margin-right: auto;
  margin-left: auto;
}

.product-card__basket-link {
  margin-top: 172px;
  margin-bottom: 5px;
}

.product-card__compare-link {
  padding-right: 26px;
  padding-left: 20px;

  font-size: 13px;
  font-weight: 300;
  line-height: 36px;
  text-align: right;
  color: rgba(0, 0, 0, 0.5);

  text-decoration: none;
  letter-spacing: 0.01em;
}

.product-card__compare-link:hover,
.product-card__compare-link:focus {
  color: rgba(0, 0, 0, 1);
}

.product-card__compare-link:active {
  color: rgba(0, 0, 0, 0.2);
}

.product-card--new::after {
  content: "New";

  position: absolute;
  top: 28px;
  right: 25px;

  width: 60px;
  height: 60px;
  padding-top: 18px;
  padding-left: 13px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 800;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.2);

  letter-spacing: 0.05em;
  text-transform: uppercase;
  border: 2px solid #d7d7d7;
  border-radius: 50%;
}

/*pagination*/
.pagination {
  margin-top: -31px;
  margin-bottom: 76px;
  padding-left: 72px;
}

.pagination__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
  background-color: #ebebeb;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.pagination__item:first-child {
  margin-right: auto;
}

.pagination__item:last-child {
  margin-right: 0;
  margin-left: auto;
}

.pagination__link {
  display: block;
  padding-top: 24px;
  padding-right: 14px;
  padding-bottom: 24px;
  padding-left: 14px;

  font-family: "Gilroy", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 24px;
  color: rgba(0, 0, 0, 0.3);

  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.pagination__item:nth-child(2) {
  margin-left: 15px;
}

.pagination__link:hover,
.pagination__link:focus {
  color: rgba(0, 0, 0, 0.6);
  outline: none;
}

.pagination__link:active {
  color: rgba(0, 0, 0, 1);
}

.pagination__link--previous,
.pagination__link--next,
.pagination__link--current {
  color: rgba(0, 0, 0, 1);
}

.pagination__link--previous {
  padding-right: 25px;
  padding-left: 30px;
}

.pagination__link--next {
  padding-right: 26px;
  padding-left: 32px;
}

.pagination__link--previous:hover,
.pagination__link--next:hover {
  color: rgba(0, 0, 0, 1);

  background-color: #d9d9d9;
}

.pagination__link--previous:active,
.pagination__link--next:active {
  color: rgba(0, 0, 0, 0.3);

  background-color: #d9d9d9;
}

/*styles for disable button*/
.pagination__link--disable:hover {
  background-color: transparent;
}

.pagination__link--disable:active {
  color: rgba(0,0,0, 1);
  background-color: transparent;
}